<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="urlAPIpro" value="http://192.168.1.244:3099/api/winforms" />
    <add key="urlAPIfac" value="http://192.168.1.244:3099/api/fac"/>
  </appSettings>
</configuration>